html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --color-white: #fff;
    --color-main: #262626;
    --color-main-fade: #2c2d3000;
    --color-secondary: #171717;
    --color-secondary-fade: #17171700;
    --color-button-hover: #242629;
    --color-button-hover-fade: #24262900;
    --color-user-icon: #8e0000;
    --color-groupings: #9ca6b5;
    --color-gpt-icon: #000000;
    --color-black: #1e1e1f;
    --color-user-menu-hover: #333333;
    --color-text: #f5f9ff;
    --color-gpt3: #5fc319;
    --color-gpt4: #f22626;
    --color-secondary-p: #c9ccd1;
    --color-logo: #848484;
    --color-model-name: #ffffff;
    --color-user-bg: #333333;
    --color-assistant-text: #e1e6ed;
    --color-disclaimer: #d0d2e1;
    --color-border1: #484a4e;
    --color-user-menu-border: #34373a;
    --color-user-menu-selected-border: #4a5562;
    --color-border2: rgba(0, 0, 0, 0);
    --color-user-message-border: #333333;
}

body {
    background: var(--color-main);
    display: flex;
    font-size: 1em;
    font-family: system-ui, sans-serif;
}

#sidebar {
    position: relative;
    left: 0;
    background: var(--color-secondary);
    width: 260px;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: all 0.2s ease-in-out;

}

#sidebar.hidden {
    left: -260px;
    margin-right: -260px;
}

#sidebar.hidden .hide-sidebar {
    left: 60px;
    transform: rotate(180deg);
    padding: 15px 13px 11px 13px;
}

.float-top {
    display: flex;
    flex-direction: column;
    height: calc( 100% - 50px );
}



button {
    display: block;
    background: inherit;
    border: 1px solid var(--color-border1);
    border-radius: 5px;
    color: var(--color-white);
    padding: 13px;
    box-sizing: border-box;
    text-align: left;
    cursor: pointer;
}

button:hover {
    background: var(--color-button-hover);
}

.sidebar-controls {
    display: flex;
    gap: 10px;
    margin-bottom: 8px;
}

.sidebar-controls button {
    padding: 12px 13px 12px 13px;
}

.hide-sidebar {
    position: relative;
    left: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
}

.new-chat i {
    margin-right: 13px;
}

.new-chat {
    flex: 1;
}

.conversations {
    width: calc( 100% + 8px );
    overflow-y: scroll;
}

.conversations,
.conversations li {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.conversations li {
    position: relative;
}

.conversations li .fa {
    margin-right: 7px;
}

.conversations li > button {
    width: 100%;
    border: none;
    font-size: 0.9em;
    white-space: nowrap;
    overflow: hidden;
}

.conversations li.active > button {
    background: var(--color-main);
}

.edit-buttons {
    display: none;
    position: absolute;
    right: 8px;
    top: 0;
}

.conversations li:hover .edit-buttons {
    display: flex;
}

.fade {
    position: absolute;
    right: 0;
    top: 0;
    background: var(--color-user-icon);
    width: 40px;
    height: 100%;
    border-radius: 5px;
    background: transparent;
    background: linear-gradient(90deg, var(--color-secondary-fade) 0%, var(--color-secondary) 50%);
}

.conversations li.active .fade {
    background: linear-gradient(90deg, var(--color-main-fade) 0%, var(--color-main) 50%);
}

.conversations li:hover .fade {
    width: 80px;
    background: linear-gradient(90deg, var(--color-button-hover-fade) 0%, var(--color-button-hover) 30%);
}

.edit-buttons button {
    border: none;
    padding: 0;
    margin: 13px 1px 13px 1px;
    opacity: 0.7;
}

.edit-buttons button:hover {
    background: none;
    opacity: 1;
}

.conversations li.grouping {
    color: var(--color-groupings);
    font-size: 0.7em;
    font-weight: bold;
    padding-left: 13px;
    margin-top: 12px;
    margin-bottom: 12px;
}

i.user-icon {
    padding: 6px;
    color: var(--color-white);
    background: var(--color-user-icon);
    display: inline-block;
    text-align: center;
    width: 15px;
    border-radius: 3px;
    margin-right: 6px;
    font-style: normal;
    width: 18px;
    height: 18px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: system-ui, sans-serif;
}

.gpt.user-icon  {
    background: var(--color-gpt-icon);
}

.user-menu {
    position: relative;
    border-top: 1px solid var(--color-border1);
}

.user-menu button {
    width: 100%;
    border: none;
}

.user-menu .dots {
    position: relative;
    top: 11px;
    float: right;
    opacity: 0.7;
}

.user-menu > ul,
.user-menu li {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-menu > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-100%);
    background: var(--color-black);
    border-radius: 10px;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

.user-menu > ul.show-animate {
    display: block;
}

.user-menu > ul.show {
    opacity: 1;
    margin-top: -8px;
}

.user-menu li button {
    border-radius: 0;
}

.user-menu li button:hover {
    background: var(--color-user-menu-hover);
}

.user-menu li:first-child button {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.user-menu li:last-child button {
    border-top: 1px solid var(--color-user-menu-border);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

::-webkit-scrollbar {
    width: 9px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
    background-color: var(--color-text)c3;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-text);
    border-radius: 5px;
}

main {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 0 0px 0;
    box-sizing: border-box;
}

main .view {
    display: flex;
    flex-direction: column;
}




p.secondary {
    font-size: 1em;
    color: var(--color-secondary-p);
}

.logo {
    position: relative;
    z-index: 1;
    color: var(--color-logo);
    font-weight: bold;
    text-align: center;
    font-size: 2.3em;
    padding: 25px;
}

.view.conversation-view {
    display: none;
    overflow-y: auto;
    width: 75%
}

.model-name {
    background: var(--color-main);
    text-align: center;
    color: var(--color-model-name);
    padding: 23px;
    border-bottom: 1px solid var(--color-border2);
    font-size: 0.85em;
}

.message {
    display: flex;
    gap: 20px;
    padding: 25px 60px 15px 60px;
    border-bottom: 1px solid var(--color-border2);
    font-size: 0.95em;
}

.message .content {
    padding-top: 5px;
}

.user.message {
    background: var(--color-user-bg);
    color: var(--color-text);
}

.assistant.message {
    color: var(--color-assistant-text);
}

#message-form {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 850px;
    text-align: center;
    padding: 0px 35px 0 35px;
    box-shadow: var(--color-main) 0 0 50px;
}

.message-wrapper {
    position: relative;
}

#message::placeholder {
    color: var(--color-groupings);
}

#message {
    background: var(--color-user-menu-hover);
    border-radius: 13px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--color-user-message-border);
    resize: none;
    padding: 17px 85px 17px 65px;
    font-family: inherit;
    font-size: 1em;
    color: var(--color-white);
    box-shadow: rgba(0,0,0,0.2) 0 0 45px;
    outline: none;
}

.disclaimer {
    margin-bottom: 12px;
    color: var(--color-disclaimer);
    font-size: 0.7em;
}

.send-button {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: black;
    border-radius: 5px;
    display: inline-block;
    font-size: 1em;
    padding: 7px 9px 7px 7px;
    color: var(--color-white);
    border: none;
    margin-top: -2px;
}

#send-button:hover {
    border: none;
    background: var(--color-gpt3);
    color: var(--color-white);
}

p {
    margin: 0 0 1.5em 0;
}

.input-container {
    display: flex;
    padding: 10px;
    background-color: #f5f5f5;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.send-button:hover {
    background-color: white;
    color: black;
}


.chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.chat-name {
    flex-grow: 1;
}

.delete-chat {
    margin-left: 10px;
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.delete-chat:hover {
    background-color: #ff1a1a;
}

.markdown {
    font-family: 'Roboto', 'sans-serif';
    line-height: 1.6;
    font-size: 16px;
    color: var(--color-assistant-text);
    overflow-wrap: break-word;
}

.markdown strong {
    font-weight: bold;
    color: #ececec;
}

.markdown ol, .markdown ul {
    margin: 10px 0 10px 20px;
    padding: 0;
}

.markdown li {
    margin-bottom: 8px;
}

.markdown ol {
    list-style-type: decimal;
}

.markdown ul {
    list-style-type: disc;
}

.markdown ul li {
    list-style-position: inside;
}

.markdown a {
    color: #1a73e8;
    text-decoration: none;
}

.markdown a:hover {
    text-decoration: underline;
}

.markdown p {
  margin-bottom: 15px;                /* Add space between paragraphs */
}

/* Table Styling */
.markdown table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    color: #ececec;
}

.markdown table th,
.markdown table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #444;
}

.markdown table th {
    background-color: #2c2f33;
    color: #fff;
    font-weight: bold;
}

.markdown table td {
    background-color: #23272a;
}

.markdown table tbody tr:nth-child(even) td {
    background-color: #2c2f33;
}

.markdown table tbody tr:hover td {
    background-color: #3b3f44;
    color: #fff;
}

.markdown table caption {
    caption-side: top;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ececec;
}



/* Alert box styles */
.custom-alert {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336; /* Red color for error */
    color: white;
    padding: 16px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    width: 300px;
    text-align: center;
}

/* Success version */
.custom-alert.success {
    background-color: #4CAF50; /* Green color for success */
}

/* Close button inside the alert box */
.custom-alert .close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
}

.custom-alert .close-btn:hover {
    color: #ddd;
}



/* Add these styles */
        .conversation-view {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            overflow-y: scroll;
            height: calc(100vh - 100px); /* Adjust based on header and input sizes */
            width: 100%;
            padding: 20px;
            box-sizing: border-box;

        }

        .message-wrapper {
            margin-bottom: 10px;
        }

        /* Ensure messages stack from the top */
        .conversation-view .message {
            margin-bottom: 10px;
            width: 50%;
            border-radius: 15px;
        }

        .upload-container {
            border: 2px dashed var(--color-logo);
            padding: 30px;
            text-align: center;
            cursor: pointer;
            color: #ffffff;
            border-radius: 10px;
            transition: border-color 0.3s ease;
            margin-bottom: 20px;
        }

        .upload-container:hover {
            border-color: white;
        }

        .hidden-input {
            display: none;
        }

        .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 57%;
            transform: translate(-50%, -50%);
            border: 2px solid #ffffff;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--color-user-bg);
            z-index: 100;
            text-align: center;
        }
        .p {
            color:white;
        }

        .popup.active {
            display: block;
        }

        .btn {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        background: black;
        border-radius: 5px;
        display: inline-block;
        font-size: 1em;
        padding: 5px;
        color: var(--color-white);
        border: none;
        margin-top: -2px;
        }

        .btn_submit {
        background: black;
        border-radius: 5px;
        display: inline-block;
        font-size: 1em;
        padding: 10px;
        color: var(--color-white);
        border: none;
        margin-top: -2px;
        width: 75px;
        text-align: center;
        }


        .btn_submit:hover {
            background-color: white;
            color: black;
        }

        .close-popup {
            background: red;
            border-radius: 5px;
            display: inline-block;
            font-size: 1em;
            padding: 10px;
            color: var(--color-white);
            border: none;
            margin-top: -2px;
            width: 55px;
            text-align: center;
        }

        .close-popup:hover {
            background-color: white;
            color: black;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px 0px;
            scroll-margin-bottom: 20px;
            border-radius: 5px;
            border: 1px solid var(--color-logo);
            margin-top: 20px;
            margin-bottom: 20px;
            background-color: transparent;
            text-align: center;
            color: white;
            font-size: 14px;
        }

        .file-name {
            margin-top: 10px;
            font-size: 14px;
            color: white;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

